<div class="fluid-container bt">
  <div class="px-4 py-2">
    <h3>SpaceX Launch Programs</h3>
    <div class="row">
      <div class="col-lg-2">
        <div class="card-body sticky">
          <h4 class="my-1">Filters</h4>
          <div class="center">
            <u class="py-2">Launch Year</u>
          </div>
          <div class="row">

            <div class="col-lg-5  "> 
              <button (click)="getByYear(2006)" type="button" class="btn btn-primary mx-4 my-1">2006</button>
              <button (click)="getByYear(2008)" type="button" class="btn btn-primary mx-4 my-1">2008</button>
              <button (click)="getByYear(2010)" type="button" class="btn btn-primary mx-4 my-1">2010</button>
              <button (click)="getByYear(2012)" type="button" class="btn btn-primary mx-4 my-1">2012</button>
              <button (click)="getByYear(2014)" type="button" class="btn btn-primary mx-4 my-1">2014</button>
              <button (click)="getByYear(2016)" type="button" class="btn btn-primary mx-4 my-1">2016</button>
              <button (click)="getByYear(2018)" type="button" class="btn btn-primary mx-4 my-1">2018</button>
              <button (click)="getByYear(2020)" type="button" class="btn btn-primary mx-4 my-1">2020</button>
            </div>
            <div class="col-lg-5 ">
              <button (click)="getByYear(2007)" type="button" class="btn btn-primary mx-4 my-1">2007</button>
              <button (click)="getByYear(2009)" type="button" class="btn btn-primary mx-4 my-1">2009</button>
              <button (click)="getByYear(2011)" type="button" class="btn btn-primary mx-4 my-1">2011</button>
              <button (click)="getByYear(2013)" type="button" class="btn btn-primary mx-4 my-1">2013</button>
              <button (click)="getByYear(2015)" type="button" class="btn btn-primary mx-4 my-1">2015</button>
              <button (click)="getByYear(2017)" type="button" class="btn btn-primary mx-4 my-1">2017</button>
              <button (click)="getByYear(2019)" type="button" class="btn btn-primary mx-4 my-1">2019</button>
            </div>

          </div>
          <div class="center mt-2">
            <u>Successfull Launch</u>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-6">
              <button (click)="getByLaunch('true')" type="button" class="btn btn-primary mx-4 my-1">True</button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-6">
              <button (click)="getByLaunch('false')" type="button" class="btn btn-primary mx-4 my-1">False</button>
            </div>
          </div>

          <div class="center mt-2">
            <u> Successfull Landing</u>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-6">
              <button (click)="getByLanding('true')" type="button" class="btn btn-primary mx-4 my-1">True</button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-6">
              <button (click)="getByLanding('false')" type="button" class="btn btn-primary mx-4 my-1">False</button>
            </div>
          </div>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-10">
        <div class="row">

          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of mArticles">
            <div class="card h-100">
              <div class="p-4">
                <img class="card-img-top p-2 bt" src={{item.links.mission_patch}} alt="">
              </div>

              <div class="card-body">
                <h4 class="card-title text-primary">
                  <span>{{item.mission_name}} #{{item.flight_number}}</span>
                </h4>
                <table>
                  <tr>
                    <td><strong>Misson Ids: </strong></td>
                    <td>
                      <ul style="margin-left: -25px;">
                        <li *ngFor="let id of item.mission_id"> {{id}}</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Launch Year: </strong></td>
                    <td> {{item.launch_year}}</td>
                  </tr>
                  <tr>
                    <td><strong>Successfull Launch: </strong></td>
                    <td> {{item.launch_success}}</td>
                  </tr>
                  <tr>
                    <td><strong>Successfull Landing: </strong></td>
                    <td> {{item.rocket.first_stage.cores[0].land_success}}</td>
                  </tr>
                </table>
              </div>
            </div>



          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
    </div>
    <!-- <div>
      <p class="py-2 text-center">Developed by: Praveen Kumar</p>
    </div> -->
    <div class="container">
      <p class="m-0 text-center"><strong>Developed by:</strong> Praveen Kumar</p>
    </div>

  </div>
  <!-- /.container -->